.App {
  text-align: center;
}
.float-input{
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.btn-input{
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 9;
}
.cover{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d1f0f3 url(../imgs/wood.png);
}
.cover.off{
  display: none;
}
/*list content*/
.list-content{
  padding: 10px 20px;
}
.list-detail{
  width: 80%;
  margin: 0 auto;
  text-align: left;
}
.txt-total{
  text-align: right;
}
.category{
  display: none;
  margin: 20px auto;
}
.category > div{
  margin-right: 15px;
}
.category.active{
  display: block;
}
/*input detail*/
.input-content{
  padding: 20px;
  background: #fbf8ea;
}
.input-detail{
  font-size: 16px;
}
.input-detail button{
  margin-top: 20px;
}
.input-detail label,.txt-date{
  font-size: 20px;
}
input[id=price]{
  width: 100px;
  margin-left: 5px;
  font-size: 20px;
}
.input-date{
  padding: 20px 0 10px 0;
}
.txt-date{
  color: #096dd9;
  margin-right: 20px; 
}
.change-date{
  display: none;
  //width: 90%;
  margin: 0 auto;
}
.change-date.active{
  display: block;
}
.input-types{
  padding-bottom: 25px ;
}
.input-types p {
  margin: 0;
  color: #999;
  font-size: 14px;
}
